.footerStyle{
    display: flex;
    justify-content: space-between;
    background-color: #57842A;
    height: 90px;
    font-size: 20px;
    font-weight: 200;
    font-family:"Karma", serif;
    color: white;
    list-style-type: none;
    padding: 4rem;
    width: 90%;
    img{
        float: right;
        margin-top: -0.5rem;
        margin-right: 2rem;
    }
    h3{
        float: right;
        margin-top: 5.5rem;
        margin-right: -6rem;
        font-family: "Marck Script", cursive;
        font-size: 24px;
        font-weight: 200;
    }
    li{
        padding: 6px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .footerStyle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center; 
        text-align: center;
        padding: 1rem; 
        width: 95%;
        height: 100%;
    }
    .footerStyle div {
        margin-bottom: 2.5rem; 
        align-items: center;
    }
    .footerStyle img {
        display: block;
        width: 50px;
        height: 50px; 
        margin-right: 2rem;
    }
    .footerStyle h3 {
        margin-top: 2.8rem;
        font-size: 20px; 
        margin-right: -4rem;
    }
    .footerStyle li {
        font-size: 16px; 
        padding: 4px;
    }
    .logo{
        margin: auto;
    }
}