.headerStyle{
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
   .imageStyle{
    width: 100%;
   }
}
.titleStyle{
    position: absolute; 
    top: 33%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem; 
    z-index: 2; 
    font-family: "Marck Script", cursive;
    font-size: 128px;
    font-weight: 400;
}
.circle{
position: absolute;
top: -5%;
left: 50%;
transform: translate(-50%, 0);
height: 120px;
width: 220px;
border-radius: 0 0 150px 150px;
background-color: #57842A;
display: flex;
justify-content: center;
align-items: center;
}

.bookLogo{
 width: 30%;
 height: auto;
}

@media (max-width: 768px){
    .titleStyle{
        font-size:64px;
    }
    .circle{
    top: -8%; 
    height: 90px;
    width: 180px;
    }
}

@media (max-width: 480px) {
    .titleStyle{
        font-size: 48px;
    }
    .circle{
        top: -10%; 
        height: 70px;
        width: 160px;
    }   
}