.inputContainer{
    margin-top: 1rem;
    z-index: 1;
    width: 70%;
    height: 163px;
    background-color: #F4F4F4;
    border-radius: 8px;
    margin: auto;
    margin-top: -7rem;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
   
    margin-bottom: 5rem;
    .subtitleStyle{
      color: #5A5A5A;
      font-family: "Karla", sans-serif;
      font-size: 48px;
      font-weight: 400;
      margin-top: -3rem;
    }
  }

//   .inputContainer{
//     display: flex;
//    // margin: auto;
//     margin-top: 2rem;
//      text-align: center;
//      justify-content: center;
//      align-items: center;
//      //margin-bottom: 2rem;
//      background-color: red;
//      input{
//         width: 70px;
//      }
//   }
