.searchContainer{
    height: 50vh;
    h2{
        text-align: center;
        margin-top: 2rem;
    }
}
.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.inputContainer input {
   
    width: 400px; 
    padding: 18px;
    border: 1px solid #d3d3d3;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #333;
  }
  
  .inputContainer button {
    padding: 19px 18px;
    background-color: #4CAF50;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  
  .inputContainer button:hover {
    background-color: #3e8e41;}