@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');


.navbarStyle{
    background-color: #57842A;
    padding: 16px 0; 
    margin: 0;
    height: 3rem;
    width: 100%;
    ul{
        list-style-type: none;
        display:flex;
        justify-content: center;
        gap: 2rem;
        padding-right: 5.6rem;
        li a{
            text-decoration: none;
            color: #D9D9D9;
            padding: 1.2rem;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-right: 2rem;
            font-size: 22px;
            font-family: "Karla", sans-serif;
            font-weight: 300;
            &:hover{
              text-decoration: underline;
              transition: text-decoration 6s ease-in;
            }
        }
        }
    }
  

    
    @media (max-width: 768px) {
      ul {
        align-items: center;
        gap: 0.5rem; 
        padding-right: 0; 
      }
      li a {
        font-size: 14px;
        padding: 0.5rem; 
      }
    }
  
    @media (max-width: 480px) {
      ul {
        align-items: center;
        gap: 0.5rem; 
        padding-right: 0;
      }
      li a {
        font-size: 14px; 
        padding: 0.5rem; 
      }
    }
  




