.notFoundStyle{
    h1{
        margin-top: 8rem;
        text-align: center;
        font-family: 'Karla';
    }
    p{
        text-align: center;
        font-size: 2rem;
        font-family: 'Karla';
    }
}